<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="css-admin">
		<link th:href="@{/assets/admin/css/styles.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/assets/css/all.min.css}" />
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
			integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />

	</th:block>

	<th:block th:fragment="js-admin">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
			integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<!--		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>-->
		<script th:inline="javascript">
			/*<![CDATA][*/
			var totalPriceLast12Months = /*[[${chartData}]]*/'default';
			/*]]>*/
			const ctx = document.getElementById('myChart').getContext('2d');
			const myChart = new Chart(ctx, {
				type : 'bar',
				data : {
					labels : totalPriceLast12Months[0],
					datasets : [ {
						label : 'Doanh thu 12 Tháng',
						data : totalPriceLast12Months[1],
						backgroundColor : [ 'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)' ],
						borderColor : [ 'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)' ],
						borderWidth : 4
					} ]
				},
				options : {
					responsive : true,
					maintainAspectRatio : false,
					scales : {
						yAxes : [ {
							ticks : {
								beginAtZero : false,
								callback : function(value, index, values) {
									return value.toLocaleString("vi-VN", {
										style : "currency",
										currency : "VND"
									});
								}
							}
						} ]
					}
				}
			});
		</script>
		<script th:src="@{/assets/admin/js/scripts.js}"></script>
		<!--		<script th:src="@{/assets/admin/js/user.js}"></script>-->
		<!--		<script th:src="@{/assets/admin/js/manager-products.js}"></script>-->
		<script>
			// DataTable
			$(document).ready(function() {
				$('#example').DataTable({
					lengthMenu : [ 3, 5, 10 ],
					pageLength : 3,
				});
			});
		</script>
		<script type="text/javascript">
			$('#customer').change(function() {
				alert('changed');
			});
		</script>
	</th:block>
</body>
</html>