<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{/site/layout/index::areas(~{::title},~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<main
        class="d-flex flex-column align-items-center container mt-5"
        style="min-height: 75vh">
    <div class="table-title text-primary">
        <h3 class="text-uppercase">Lịch sử đơn hàng</h3>
    </div>
    <table id="order-history"
           class="table table-striped table-bordered table-hover"
           style="width: 1000px">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Tổng tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}" th:object="${order}">
            <td th:text="*{orderCode}"></td>
            <td th:text="*{#dates.format(createdDate, 'dd-MM-yyyy')}"></td>
            <th:block th:switch="*{status}">
                <td th:case=0>Đang giao</td>
                <td th:case=1>Đã giao</td>
                <td th:case=2>Bị hủy</td>
            </th:block>
            <td th:text="*{#numbers.formatDecimal(totalUnitPrice,0,'POINT',2,'COMMA')} + ' VNĐ'"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>